{% extends "blog/base.html" %}
{% block content %}
{%for e in expense%}
<div class="card m-2 p-2 " style="background-color:lightgray;">
    <h3>{{e.paid.username}}</h3> owes <h3>{{e.amount}}</h3> 
    </div>
{%endfor%}
{% endblock content %}