{% extends "blog/base.html" %}
{% block content %}
<div class="container" >
    <a href="{% url 'expense-new' pk=pk %}"><h3>Add expense</h3></a>
</div >
<div class="m-2 p-2">
    <h1>Members</h1>
</div>

{%for m in member%}
<div class="card m-2 p-2 " style="background-color:lightgray;">
<h3>{{m.username}}</h3>
</div>
{%endfor%}

<div class="m-2 p-2">
    <h1>Expenses</h1>
</div>

{%for e in expense%}
<div class="card m-2 p-2 " style="background-color:lightgray;">
<a href="{% url 'expense-detail' pk=e.pk %}"><h3>{{e.description}}</h3></a>
</div>
{%endfor%}

{% endblock content %}