{% extends "blog/base.html" %}
{% block content %}
<div class="container">
  <a class="btn btn-primary float-right ml-auto"  href="{% url 'group-new' %}">Add group</a>
</div>
<div class="m-2 p-2">
  <h1>Groups names</h1>
  
</div>

  

{% for group in groups %}
<div class="container">
  <div class="card m-2 p-2 " style="background-color:lightgray;">

  <a href="{% url 'group-detail' pk=group.pk %}"> <h3>{{ group.group_name }}</h3></a>
</div>
</div>
{% endfor %}
        
{% endblock content %}
